body {
  background-color: #1f1f1f;
}

#top-container {
  display: flex;
  flex-direction: column;
  background-color: #32b3ff;
  color: white;
  text-align: center;
  justify-content: center;
  margin: auto;
  width: 28vw;
  margin-top: 10%;
  border-radius: 5px 5px 0px 0px;
}

#bottom-container {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  color: white;
  text-align: center;
  justify-content: center;
  margin: auto;
  width: 28vw;
  gap: 20px;
  border-radius: 0px 0px 5px 5px;
}

#input-container {
  justify-content: center;
  text-align: center;
  margin-top: 1%;
}

input {
  font-size: 1.5rem;
  text-align: center;
  width: 100px;
  height: 50px;
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #32b3ff;
  color: white;
  font-weight: bold;
  font-size: xxx-large;
}

#convert-button {
  margin-top: 2%;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  border: none;
  font-size: large;
  cursor: pointer;
  margin-bottom: 3%;
}

.result-box {
  background-color: aliceblue;
  height: 100px;
  width: 90%;
  margin: auto;
  border-radius: 5px;
  color: #1f1f1f;
}

#length-result {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
}

#mass-result {
  margin-bottom: 20px;
}

h2 {
  color: #32b3ff;
}
